
html {
  height: 100%;
}

#myownfeed {
font-family: 'Bungee Hairline', cursive;
  font-size: 32px;
}

.doron-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.doron-menu {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-right: 24px;
  color: #FFF;
  box-sizing: border-box;
}

.doron-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.doron-main {
  
}

.mdc-card {
  margin: 8px;
}

.mdc-card__title--large {
  font-size: 1.125rem;
  padding: 0;
}

.mdc-card__supporting-text{
  padding: 0px 16px;
}

.mdc-toolbar {
    display: -webkit-box;
}

.button-nav{
  vertical-align: middle;
  margin: 8px;
  height: 36px;
}

.nav-button-left{
  float: left;
}

.nav-button-right{
  float: right;
}

.nav-arrow {
  vertical-align: middle !important;
}

.nav-arrow-right{
  padding-left: 8px;
}
.nav-arrow-left{
  padding-right: 8px;
}

.mdc-button {
  line-height: 32px;
  height: 32px;
  font-size: 12px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.footer {
  height: 128px;
  background-color: #34495e;
}

.login-card {
    margin: auto;
    padding: 32px 96px;
    max-width: 90%;
    max-height: 90%;
}

.login-title{
  font-size: 24px;
  margin-bottom: 32px;
}

.login-form {
  margin: auto;
  flex-direction: column;
}

.grid-login {
  min-height: 80%;
  display: flex;
  justify-content: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
}

.form-actions {
      margin-top: 16px;
}

.mdc-textfield__input{
  width: 100%;
}

.mdc-textfield__label--float-above {
    -webkit-transform: translateY(-50%) scale(0.75, 0.75);
    transform: translateY(-50%) scale(0.75, 0.75);
}