<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<link rel="icon" th:href="@{/favicon.png}" />-->

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


    <title>NewsItem | Feed</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">NewsItem</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>



<div class="news container">
    <div class="row">
        <div th:each="newsitem : ${newsfeed}" class="col s12 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" th:text="${newsitem.title}">Item Title</span>
                    <p th:text="${newsitem.summary}">Summary</p>
                </div>
                <div class="card-action">
                    <a th:href="${newsitem.url}">Open</a>
                    <a href="#">Share</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
</body>
</html>