<html lang="en" class="mdc-typography" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | My Own Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/node_modules/material-components-web/dist/material-components-web.css}"
          type="text/css" href="../../static/node_modules/material-components-web/dist/material-components-web.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body class="doron-body mdc-typography">
<aside class="mdc-persistent-drawer">
    <nav class="mdc-persistent-drawer__drawer">
        <div class="mdc-persistent-drawer__toolbar-spacer"></div>
        <div class="mdc-list-group">
            <nav class="mdc-list">
                <a class="mdc-list-item" href="/feed">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">view_stream</i>Feed
                </a>
                <a class="mdc-list-item" href="/sources">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Sources
                </a>
            </nav>

            <hr class="mdc-list-divider"/>

            <nav class="mdc-list">
                <a th:text="${user} == null ? 'Log In' : 'Log Out (' + ${user} + ')'" th:href="@{${user} == null ? '/login' : '/logout'}" class="mdc-list-item" href="/login">
                    Log In'
                </a>
                <a th:if="${user} == null" class="mdc-list-item mdc-persistent-drawer--selected" href="/register">
                    Sign Up
                </a>
                <a class="mdc-list-item" href="/about">
                    About
                </a>
            </nav>
        </div>
    </nav>
</aside>
<div class="doron-content">
    <header class="mdc-toolbar mdc-elevation--z4">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="doron-menu material-icons">menu</button>
                <span class="mdc-toolbar__title catalog-title">my own feed</span>
            </section>
        </div>
    </header>

    <main class="doron-main">
        <div class="mdc-grid-list grid-login">
            <div class="mdc-card login-card">
              <form autocomplete="off" action="#" th:action="@{/register}"
                    th:object="${user}" name="register" class="mdc-form-field login-form"  method="post">
                <section  class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large login-title">Register</h1>
                </section> 
                <section class="login-fields">
                  <div class="mdc-textfield">
                    <input class="mdc-textfield__input" type="text" id="email" aria-controls="em-validation-msg" th:field="*{email}" name="email" required="true" th:required="required"/>
                    <label class="mdc-textfield__label" for="email" >E-mail</label>
                  </div>
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"
                       id="em-validation-msg">
                        Enter a valid email address
                    </p>
                  <div class="mdc-textfield">
                    <input class="mdc-textfield__input" type="text" id="username" aria-controls="un-validation-msg" th:field="*{username}" name="username" required="true"  th:required="required"/>
                    <label class="mdc-textfield__label" for="username" >Username</label>
                  </div>
                  <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"
                       id="un-validation-msg">
                        Enter a valid username
                    </p>
                  <div class="mdc-textfield">
                    <input class="mdc-textfield__input" type="password" id="password" aria-controls="pw-validation-msg" th:field="*{password}" name="password"  pattern=".{6,}" required="true"  th:required="required"/>
                    <label class="mdc-textfield__label" for="password" >Password</label>
                  </div>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"
                       id="pw-validation-msg">
                       Enter a valid password
                    </p>
                  <div class="form-actions">
                    <a href="/register"><button type="submit" class="mdc-button mdc-button--raised">Register</button></a>
                  </div>
                </section>
              </form>
            </div>
          </div>
        <div class="footer "></div>
    </main>

</div>
<script th:src="@{/node_modules/material-components-web/dist/material-components-web.js}"
        src="../../static/node_modules/material-components-web/dist/material-components-web.js"></script>
<script th:src="@{/js/app.js}"
        src="../../static/js/app.js"> </script>
</body>
</html>
